"" -- ideavim settings --
set keep-english-in-normal
set ideajoin
set ideastatusicon=gray
set idearefactormode
set ideaput
set ideamarks
set easymotion
set NERDTree
set surround
set multiple-cursors
set commentary
set ReplaceWithRegister
set argtextobj
set highlightedyank

" Don't use Ex mode, use Q for formatting.
"map Q gq

"" -- vim settings --
syntax on
set scrolloff=5
set number
set hlsearch
set incsearch
set ignorecase
set smartcase
set spell
set wrap
set autoindent
set clipboard^=unnamedplus
set laststatus=2
set wildmode=longest,list,full
set wildmenu
set cursorline
set visualbell
set showmode

" easymotion
let mapleader=" "

" NERDTree
nmap <leader>e :NERDTreeToggle<cr>
nmap <C-n> :NERDTreeToggle<cr>
nmap <C-h> :NERDTreeFocus<cr>

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t

" Active Editor Close
map <C-w><C-o> <Action>(CloseAllEditorsButActive)

" editor file move
"map <C-g><C-w>

" Code jump code reading
nmap gb <Action>(Back)
nmap gD <Action>(GotoTypeDeclaration)
nmap gf <Action>(Forward)
nmap gl <Action>(QuickJavaDoc)
nmap gL <Action>(QuickImplementations)
nmap gh <Action>(ShowErrorDescription)
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
nmap ]q <Action>(GotoNextElementUnderCaretUsage)
nmap [q <Action>(GotoPrevElementUnderCaretUsage)

" Annotate
nmap <leader>a <Action>(Annotate)
" Breakpoint
nmap <leader>b <Action>(ToggleLineBreakpoint)
" Active commit tool window
nmap <leader>c <Action>(ActivateCommitToolWindow)
" Active editor tab
nmap <leader>m <Action>(ActiveEditorTab)
" CompleteStatement
nmap <leader>s <Action>(Code Generation)
" Active terminal tool window
nmap <leader>t <Action>(ActivateTerminalToolWindow)

" show hover info
nmap <C-k> <Action>(ShowHoverInfo)
" vcs
nmap \p <Action>(Vcs.UpdateProject)
nmap \h <Action>(Vcs.ShowTabbedFileHistory)
" FileStructurePopup
nmap \f <Action>(FileStructurePopup)
" Zen mode
nmap cz <Action>(ToggleDistractionFreeMode)
" Clear search highlighting when pressing Esc twice
nnoremap <Esc><Esc> :nohlsearch<CR><Esc>
" Use Q for formatting the current paragraph (or visual selection)
vmap Q gq
nmap Q gqap

" These create newlines like o and O but stay in normal mode
nmap zj o<Esc>k
nmap zk O<Esc>j

" 分割後に元のページを閉じる
function! CloseOriginalWindow()
    " 現在のウィンドウの数が2より大きい場合（分割後の状態）
    if winnr('$') > 1
        " 最初のウィンドウを閉じる
        close
    endif
endfunction

" 分割コマンドの後に CloseOriginalWindow 関数を実行する
augroup AutoCloseOriginalWindow
    autocmd!
    autocmd WinEnter * call CloseOriginalWindow()
augroup END
