* {
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-family: "M PLUS 1p";
    background-color: rgba(43, 55, 90, 0.2);
}

#entry {
    padding: 0.6em;
}

#entry:selected {
    background-color: rgba(25, 25, 30, 0.8);
}

#text:selected {
    color: white;
}

image {
    margin-left: .5em;
    margin-right: .5em;
}
